body{
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.header{
    align-items: center;
    background-color: #21C08B;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0;
    width: 100%;
}

.header_img{
    width: 200px;
    margin-left: 30px;
}

.login{
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px;
    min-height: calc(100vh - 200px);/*Min height garantiza que no importa la pantalla siempre va a tener este valor. calc(100vh) es una medida similar al %, con este indicamos el 100% de lo que ve el usuario en el momento menos 200px que son el header y el footer*/
}

.login_container{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;/*flex, space-around, y column, se colocan para que se distribuya uniformemente el contenido en la columna*/
}

.login_container_form{
    display: flex; 
    flex-direction: column;
}

.login_container_form label{
    font-size: 14px;
}

.login_container_form_remember{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login_container_form_remember a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login_container_form_remember a:hover{
    text-decoration: underline;
}

.login_container_social > div{/*El selector > es hijo directo, es decir únicamente estilizar a los div que estén un nivel por debajo del elemento padre.*/
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login_container_social > div > img{
    width: 30px;
    margin-right: 10px;
}

.login_container_register{
    font-size: 14px;
}

.login_container_iniciar{
    font-size: 14px;
    margin: 0 auto;
}

.login_container_register a, .login_container_iniciar a{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login_container_register a:hover, .login_container_iniciar a:hover{
    text-decoration: underline;
}

.input{
    background-color: transparent;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none; /*Es el recuadro que se marca cuando nos paramos en el input*/
    height: 50px;
}

::placeholder{ /*:: indica que se va a estilizar un pseudoelemento, en este caso placeholder*/
    color:white;
}

.button{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;    
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #AB88FF;
}

.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 600px){
    .login_container{
        background-color: transparent;
        border: none;
        padding: 0px;        
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
}